<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Community</title>
  <style>
    .message {
      padding: 8px;
    }

    .message.is-success {
      border: 1px solid green;
    }

    .message.is-failed {
      border: 1px solid red;
    }
  </style>
</head>
<body>
  <div id="app">
    <h1>Hey</h1>

    <div v-if="status.message"
         :class="['message', status.success ? 'is-success' : 'is-failed']"
    >{{ status.message }}</div>

    <form @submit.prevent="handleSubmit">
      <h2>Book a room</h2>

      <div>
        <label for="userIdInput">User</label>
        <select id="userIdInput" v-model="form.userId">
          <option v-for="user in users"
                  :key="user.id"
                  :value="user.id"
          >{{ user.name }}</option>
        </select>
      </div>

      <div>
        <label for="shiftInput">Shift</label>
        <select id="shiftInput" v-model="form.shiftId">
          <option value="shift-1">Shift 1</option>
          <option value="shift-2">Shift 2</option>
        </select>
      </div>

      <div>
        <label for="roomInput">Room</label>
        <select id="roomInput" v-model="form.roomId">
          <option value="room-1">Room 1</option>
          <option value="room-2">Room 2</option>
        </select>
      </div>

      <div>
        <label for="dateInput">Date</label>
        <input type="text" v-model="form.date">
      </div>

      <button>Book</button>
    </form>
  </div>
  <script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
  <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>
